@import url("https://fonts.googleapis.com/css2?family=Inter:wght@350;400;450;500&display=swap");
p, h1, h2, h3, h4, h5, img {
  color: #EDEDF2;
}

p {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.25rem;
  font-weight: 350;
  line-height: 135%;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(28, 30, 42, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}
header.transparent-background {
  background-color: rgba(28, 30, 42, 0);
}
@media (min-width: 768px) {
  header {
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
}
@media (min-width: 1230px) {
  header {
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgba(28, 30, 42, 0.9);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
}
header .desktop-menu {
  list-style-type: none;
  display: none;
}
@media (min-width: 768px) {
  header .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  header .desktop-menu a {
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.02em;
    line-height: 130%;
    color: #EDEDF2;
    font-weight: 500;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 11px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  header .desktop-menu a {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  header .desktop-menu a.active {
    background: #3E74F7;
  }
}
header a {
  z-index: 3;
  text-decoration: none;
}
header #logo {
  width: 44px;
  height: 44px;
  background: #3E74F7;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header #logo svg {
  padding: 9.9px 9.9px 11px;
}
@media (max-width: 768px) {
  header #logo.logo-alt {
    background: rgba(28, 30, 42, 0.6);
  }
}

button {
  z-index: 3;
  padding-top: 4px;
  padding-right: 7px;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  button {
    display: none;
  }
}
button svg {
  stroke: #3E74F7;
}
button svg.color-alt-1 {
  stroke: #1C1E2A;
}
button svg.color-alt-2 {
  stroke: #EDEDF2;
}

nav #mobile-nav {
  display: none;
}
nav #mobile-nav.open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0px;
  background: #EDEDF2;
  top: 88px;
  z-index: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 100px);
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 7px;
  padding: 24px 28px;
}

#curtain {
  display: none;
}
#curtain.blur {
  display: block;
  background: rgba(28, 30, 42, 0.01);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.open-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.open-menu a {
  font-size: 1.25rem;
  font-weight: 500;
  color: #1C1E2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.open-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  background-color: #292A36;
}
@media (min-width: 1230px) {
  footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}
footer nav {
  display: none;
}
footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer p {
  font-size: 0.875rem;
  font-weight: 350;
  color: #B2B2BA;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1C1E2A;
  -webkit-font-smoothing: antialiased;
}
body.no-scroll {
  overflow-y: hidden;
}

main {
  padding-top: 68px;
}

a {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
}

.grid-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 124px;
}
@media (min-width: 1230px) {
  .grid-index {
    padding-right: 80px;
    padding-left: 80px;
  }
}
.grid-index h1 {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 2.375rem;
  font-weight: 350;
  font-size: 1.75rem;
}
.grid-index h1 .font_alt {
  font-weight: 500;
}
@media (min-width: 375px) {
  .grid-index h1 {
    font-size: 2rem;
  }
}
@media (min-width: 425px) {
  .grid-index h1 {
    font-size: 2.375rem;
  }
}
@media (min-width: 768px) {
  .grid-index h1 {
    font-size: 2.625rem;
  }
}
@media (min-width: 1024px) {
  .grid-index h1 {
    font-size: 3.625rem;
  }
}
@media (min-width: 1110px) {
  .grid-index h1 {
    font-size: 4rem;
  }
}
.grid-index .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-bottom: 80px;
}
@media (min-width: 620px) {
  .grid-index .wrapper {
    padding-bottom: 56px;
  }
}
@media (min-width: 768px) {
  .grid-index .wrapper {
    overflow: auto;
    margin-right: -24px;
    margin-left: -24px;
  }
  .grid-index .wrapper::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
    scroll-snap-type: x xmandatory;
  }
}
@media (min-width: 1024px) {
  .grid-index .wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1230px) {
  .grid-index .wrapper {
    margin-right: -80px;
    margin-left: -80px;
  }
}
.grid-index .widgets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-rows: repeat(5, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  aspect-ratio: 366/463;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.grid-index .widgets > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid-index .widgets > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid-index .widgets > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.grid-index .widgets > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.grid-index .widgets > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid-index .widgets > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.grid-index .widgets > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.grid-index .widgets > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.grid-index .widgets > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.grid-index .widgets > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.grid-index .widgets > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.grid-index .widgets > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.grid-index .widgets > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.grid-index .widgets > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.grid-index .widgets > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.grid-index .widgets > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
.grid-index .widgets > *:nth-child(17) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.grid-index .widgets > *:nth-child(18) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.grid-index .widgets > *:nth-child(19) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
.grid-index .widgets > *:nth-child(20) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}
@media (min-width: 620px) {
  .grid-index .widgets {
    aspect-ratio: 6/4;
  }
}
@media (min-width: 768px) {
  .grid-index .widgets {
    aspect-ratio: initial;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    padding-left: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 24px;
  }
  .grid-index .widgets > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media (min-width: 1230px) {
  .grid-index .widgets {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.grid-index .widgets .widget {
  padding: 20px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .grid-index .widgets .widget {
    height: 200px;
    aspect-ratio: 302/240;
  }
}
@media (min-width: 1024px) {
  .grid-index .widgets .widget {
    height: 260px;
  }
}
.grid-index .widgets .faculty {
  background-color: #F09CF9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/3/3;
}
.grid-index .widgets .faculty p {
  color: #1C1E2A;
}
@media (min-width: 768px) {
  .grid-index .widgets .faculty {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
}
.grid-index .widgets .explore {
  background-color: #3E74F7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1/3/4/5;
}
@media (min-width: 768px) {
  .grid-index .widgets .explore {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}
.grid-index .widgets .farfetch {
  background-color: #845AFF;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/6/3;
}
@media (min-width: 768px) {
  .grid-index .widgets .farfetch {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }
}
.grid-index .widgets .slotdev {
  background-color: #9AF8AA;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4/3/6/5;
}
.grid-index .widgets .slotdev p {
  color: #1C1E2A;
}
@media (min-width: 768px) {
  .grid-index .widgets .slotdev {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1/4/2/5;
  }
}
.grid-index .widgets .behance {
  display: none;
}
.grid-index .widgets .behance p {
  color: #1C1E2A;
}
@media (min-width: 768px) {
  .grid-index .widgets .behance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #73F2ED;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1/5/2/6;
  }
}
.grid-index .widgets .widget_title {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.5rem;
  font-weight: 450;
  font-size: 1.0625rem;
}
.grid-index .widgets .widget_title:first-letter {
  text-transform: capitalize;
}
@media (min-width: 375px) {
  .grid-index .widgets .widget_title {
    font-size: 1.375rem;
  }
}
@media (min-width: 768px) {
  .grid-index .widgets .widget_title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .grid-index .widgets .widget_title {
    font-weight: 500;
    font-size: 1.6875rem;
  }
}
.grid-index .widgets .widget_link {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1rem;
  font-weight: 350;
  letter-spacing: -0.03em;
  color: #B2B2BA;
  color: #EDEDF2;
  font-size: 0.875rem;
}
.grid-index .widgets .widget_link:first-letter {
  text-transform: capitalize;
}
@media (min-width: 375px) {
  .grid-index .widgets .widget_link {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .grid-index .widgets .widget_link {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  .grid-index .widgets .widget_link {
    font-weight: 450;
    font-size: 1.25rem;
  }
}
.grid-index .section_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 72px;
}
@media (min-width: 1024px) {
  .grid-index .section_intro {
    gap: 28px;
  }
}
.grid-index .section_intro div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  .grid-index .section_intro div {
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .grid-index .section_intro div p {
    font-size: 1.5rem;
    max-width: 700px;
  }
}
.grid-index .section_intro .intro {
  font-size: 1.5rem;
  font-weight: 450;
}
@media (min-width: 1024px) {
  .grid-index .section_intro .intro {
    font-size: 2.25rem;
  }
}
.grid-index .section_intro .intro_link {
  font-size: 1rem;
  font-weight: 450;
  color: #EDEDF2;
}
@media (min-width: 1024px) {
  .grid-index .section_intro .intro_link {
    font-size: 1.125rem;
  }
}
.grid-index .carousel {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1C1E2A;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 1230px) {
  .grid-work {
    padding-right: 80px;
    padding-left: 80px;
  }
}
.grid-work h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .grid-work h1 {
    font-size: 2.625rem;
  }
}
.grid-work .chip-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  padding-top: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
  margin-right: -24px;
  margin-left: -24px;
  padding-left: 24px;
  padding-right: 24px;
}
.grid-work .chip-filter::-webkit-scrollbar {
  display: none;
}
.grid-work .chip-filter .chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 10px;
  white-space: nowrap;
  background-color: #353951;
  border-radius: 7px;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 145%;
  text-decoration: none;
  color: #EDEDF2;
  font-weight: 400;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .grid-work .chip-filter .chip {
    font-size: 1.125rem;
  }
}
@media (min-width: 1230px) {
  .grid-work .chip-filter {
    gap: 10px;
  }
  .grid-work .chip-filter .chip {
    font-size: 1.375rem;
  }
}
.grid-work .menu {
  padding-top: 56px;
  padding-bottom: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  row-gap: 40px;
}
.grid-work .menu > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 620px) {
  .grid-work .menu {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .grid-work .menu {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1230px) {
  .grid-work .menu {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-work .menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.grid-work .menu_item img {
  border-radius: 24px;
  width: 100%;
  height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/12;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.grid-work .menu_item .menu_item_title {
  font-size: 1.25rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .grid-work .menu_item .menu_item_title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1230px) {
  .grid-work .menu_item .menu_item_title {
    font-size: 1.375rem;
  }
}
.grid-work .menu_item .menu_item_detail {
  margin-top: -8px;
  font-size: 1rem;
  font-weight: 350;
  letter-spacing: -0.03em;
  color: #B2B2BA;
}
@media (min-width: 768px) {
  .grid-work .menu_item .menu_item_detail {
    font-size: 1.125rem;
  }
}
@media (min-width: 1230px) {
  .grid-work .menu_item .menu_item_detail {
    font-size: 1.125rem;
  }
}

.grid-about {
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .grid-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 84px;
    gap: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 120px;
  }
}
@media (min-width: 1230px) {
  .grid-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.grid-about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .grid-about > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 84px;
  }
}
@media (min-width: 1230px) {
  .grid-about > div {
    max-width: 32%;
  }
}
.grid-about > div .cta {
  display: none;
}
@media (min-width: 1024px) {
  .grid-about > div .cta {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    bottom: 36px;
    right: 12px;
    gap: 14px;
  }
  .grid-about > div .cta a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #3E74F7;
    -webkit-box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);
            box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);
    border-radius: 8px;
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.02em;
    line-height: 130%;
    color: #EDEDF2;
    font-weight: 550;
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .grid-about > div .cta a:hover {
    background: #528FFA;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (min-width: 1024px) {
  .grid-about > div {
    padding-top: 0px;
  }
}
@media (min-width: 1230px) {
  .grid-about > div {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .grid-about .img-div img {
    margin: 0px 24px;
    border-radius: 17px;
    outline: 1.2px solid rgba(255, 255, 255, 0.3);
    outline-offset: -1.2px;
    -webkit-box-shadow: 0px 3px 20px #1C1E2A;
            box-shadow: 0px 3px 20px #1C1E2A;
    height: 380px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
}
@media (min-width: 1024px) {
  .grid-about .img-div img {
    margin: 0px;
    outline: 2px solid rgba(255, 255, 255, 0.3);
    outline-offset: -2px;
    -webkit-box-shadow: 0px 3px 20px #1C1E2A;
            box-shadow: 0px 3px 20px #1C1E2A;
  }
}
@media (min-width: 1230px) {
  .grid-about .img-div img {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
    height: auto;
  }
}
.grid-about article {
  padding: 24px 24px 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.grid-about article h1 {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.75rem;
  font-weight: 450;
}
@media (min-width: 1230px) {
  .grid-about article h1 {
    font-size: 2.25rem;
  }
}
.grid-about article h2 {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 450;
}
@media (min-width: 1230px) {
  .grid-about article h2 {
    font-size: 1.375rem;
  }
}
.grid-about article .article-text {
  gap: 28px;
}
@media (min-width: 1230px) {
  .grid-about article .article-text {
    width: 90%;
  }
}
.grid-about article .skills, .grid-about article .contacts {
  gap: 12px;
}
@media (min-width: 1024px) {
  .grid-about article .skills, .grid-about article .contacts {
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .grid-about article {
    padding: 0px;
  }
}
@media (min-width: 1230px) {
  .grid-about article {
    width: 60%;
  }
}
.grid-about ~ footer {
  display: none;
}
@media (min-width: 1024px) {
  .grid-about ~ footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 56px;
  }
}
.grid-about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.grid-about .skills .label_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.grid-about .skills p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  white-space: nowrap;
  background-color: #353951;
  border-radius: 7px;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 145%;
  text-decoration: none;
  color: #EDEDF2;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 145%;
  text-decoration: none;
  color: #EDEDF2;
  font-weight: 400;
  text-transform: capitalize;
}
@media (min-width: 1230px) {
  .grid-about .skills p {
    font-size: 1.375rem;
  }
}
.grid-about .label_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}
.grid-about .label_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3E74F7;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.grid-about .label_container a:hover {
  background: #528FFA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.grid-about .label_container .linkedin {
  width: 40px;
  height: 39px;
}
@media (min-width: 1230px) {
  .grid-about .label_container .linkedin {
    width: 48px;
    height: 47px;
  }
}
.grid-about .label_container .linkedin img {
  width: 20px;
}
@media (min-width: 1230px) {
  .grid-about .label_container .linkedin img {
    width: 28px;
  }
}
.grid-about .label_container .behance {
  width: 40px;
  height: 39px;
}
@media (min-width: 1230px) {
  .grid-about .label_container .behance {
    width: 48px;
    height: 47px;
  }
}
.grid-about .label_container .behance img {
  width: 24.24px;
  height: 15.99px;
}
@media (min-width: 1230px) {
  .grid-about .label_container .behance img {
    width: 32.24px;
    height: 23.99px;
  }
}
.grid-about .label_container .email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  gap: 8px;
  height: 39px;
  border: 1.6px solid #EDEDF2;
  background-color: transparent;
  border-radius: 8px;
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-weight: 550;
}
@media (min-width: 1230px) {
  .grid-about .label_container .email {
    font-size: 1.25rem;
    height: 47px;
  }
}

.mobile_cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  gap: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 48px);
  bottom: 24px;
}
@media (min-width: 1024px) {
  .mobile_cta {
    display: none;
  }
}
.mobile_cta a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 12px;
  width: 50%;
  background: #3E74F7;
  -webkit-box-shadow: 0px 4px 24px #1C1E2A;
          box-shadow: 0px 4px 24px #1C1E2A;
  border-radius: 8px;
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-weight: 550;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.grid-project {
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .grid-project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 84px;
    gap: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 120px;
  }
}
@media (min-width: 1230px) {
  .grid-project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.grid-project > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .grid-project > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 84px;
  }
}
@media (min-width: 1024px) {
  .grid-project > div {
    padding-top: 0px;
  }
}
@media (min-width: 1230px) {
  .grid-project > div {
    width: 50%;
  }
}
.grid-project > div img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/12;
}
@media (min-width: 768px) {
  .grid-project > div img {
    margin: 0px 24px;
    border-radius: 17px;
    outline: 1.2px solid rgba(255, 255, 255, 0.3);
    outline-offset: -1.2px;
    -webkit-box-shadow: 0px 3px 20px #1C1E2A;
            box-shadow: 0px 3px 20px #1C1E2A;
    height: 380px;
  }
}
@media (min-width: 1024px) {
  .grid-project > div img {
    margin: 0px;
    outline: 2px solid rgba(255, 255, 255, 0.3);
    outline-offset: -2px;
    -webkit-box-shadow: 0px 3px 20px #1C1E2A;
            box-shadow: 0px 3px 20px #1C1E2A;
  }
}
@media (min-width: 1230px) {
  .grid-project > div img {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
    height: auto;
  }
}
.grid-project > div .cta {
  display: none;
}
@media (min-width: 1024px) {
  .grid-project > div .cta {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    bottom: 36px;
    right: 12px;
  }
  .grid-project > div .cta a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #3E74F7;
    -webkit-box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);
            box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);
    border-radius: 8px;
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.02em;
    line-height: 130%;
    color: #EDEDF2;
    font-weight: 550;
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .grid-project > div .cta a:hover {
    background: #528FFA;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
.grid-project article {
  padding: 24px 24px 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.grid-project article h1 {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.75rem;
  font-weight: 450;
}
@media (min-width: 1230px) {
  .grid-project article h1 {
    font-size: 2.25rem;
  }
}
.grid-project article h2 {
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 450;
}
@media (min-width: 1230px) {
  .grid-project article h2 {
    font-size: 1.375rem;
  }
}
@media (min-width: 1230px) {
  .grid-project article p {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .grid-project article {
    padding: 0px;
  }
}
@media (min-width: 1230px) {
  .grid-project article {
    width: 50%;
  }
}
.grid-project ~ footer {
  display: none;
}
@media (min-width: 1024px) {
  .grid-project ~ footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 56px;
  }
}
.grid-project .label_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.grid-project .label_container p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  white-space: nowrap;
  background-color: #353951;
  border-radius: 7px;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 145%;
  text-decoration: none;
  color: #EDEDF2;
  font-weight: 400;
  text-transform: capitalize;
}
@media (min-width: 1230px) {
  .grid-project .label_container p {
    font-size: 1.375rem;
  }
}
.grid-project .label_container .label_amote {
  background-color: #332E32;
  color: #FFBF7D;
}
.grid-project .label_container .label_desterro {
  background-color: #322F32;
  color: #ECC06A;
}
.grid-project .label_container .label_faculty {
  background-color: #322C3F;
  color: #F7ACFF;
}
.grid-project .label_container .label_farfetch {
  background-color: #2D2C3F;
  color: #C8A7FF;
}
.grid-project .label_container .label_inferno {
  background-color: #272F3F;
  color: #8CCDFF;
}
.grid-project .label_container .label_slotdev {
  background-color: #293437;
  color: #9AF8AA;
}

#share_cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  gap: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 48px);
  bottom: 24px;
}
@media (min-width: 1024px) {
  #share_cta {
    display: none;
  }
}
#share_cta a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 12px;
  width: 100%;
  background: #3E74F7;
  -webkit-box-shadow: 0px 4px 28px #1C1E2A;
          box-shadow: 0px 4px 28px #1C1E2A;
  border-radius: 8px;
  font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.02em;
  line-height: 130%;
  color: #EDEDF2;
  font-weight: 550;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.project-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.project-details .label_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media (min-width: 1024px) {
  .team {
    gap: 16px;
  }
}