.grid-about {
    padding-top: 0px;
    display: flex;
    flex-direction: column;

    @media (min-width: $large) {
        flex-direction: row;
        padding-top: 84px;
        gap: 40px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 120px;
    }

    @media (min-width: $x-large) {
        flex-direction: row;
        gap: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }

    & > div {
        display: flex;
        flex-direction: column;

        @media (min-width: $medium) {
            align-items: center;
            padding-top: 84px;
        }

        @media (min-width: $x-large) {
            max-width: 32%;
        }

        .cta {
            display: none;

            @media (min-width: $large) {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                position: relative;
                bottom: 36px;
                right: 12px;
                gap: 14px;

                a {
                    box-sizing: border-box;
            
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 10px 12px;
                    width: fit-content;
            
                    background: $primary-color;
                    box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);
            
                    border-radius: 8px;
            
                    @include fontMain;
                    font-weight: 550;
                    font-size: rem(20px);
                    line-height: 140%;
                    letter-spacing: -0.02em;

                    white-space: nowrap;

                    &:hover {
                        background: #528FFA;
                        transition: 0.3s;
                    }

                }
            }
        }

        @media (min-width: $large) {
            padding-top: 0px;
        }

        @media (min-width: $x-large) {
            width: 50%;
        }

    }

    .img-div {

        img {

            @media (min-width: $medium) {
                margin: 0px 24px;
                border-radius: 17px;
                outline: 1.2px solid rgba(255, 255, 255, 0.3);
                outline-offset: -1.2px;
                box-shadow: 0px 3px 20px #1C1E2A;
                height: 380px;
                width: fit-content;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                object-position: 50%;
            }


            @media (min-width: $large) {
                margin: 0px;
                outline: 2px solid rgba(255, 255, 255, 0.3);
                outline-offset: -2px;
                box-shadow: 0px 3px 20px #1C1E2A;
            }

            @media (min-width: $x-large) {
                align-self: stretch;
                width: 100%;
                height: auto;
            }
         } 
    }

    article {
        padding: 24px 24px 112px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            @include fontMain;
            @include fontHeading3;

            @media (min-width: $x-large) {
                font-size: rem(36px);
            }
        }

        h2 {
            @include fontMain;
            @include fontHeading5;
            font-weight: 450;

            @media (min-width: $x-large) {
                font-size: rem(22px);
            }
        }

        .article-text {
            gap: 28px;

            @media (min-width: $x-large) {
                width: 90%;
            }
        }

        .skills, .contacts {
            gap: 12px;
            @media (min-width: $large) {
                gap: 16px;
            }
        }

        @media (min-width: $large) {
            padding: 0px;
        }

        @media (min-width: $x-large) {
            width: 60%;
        }

    }

    & ~ footer {
        display: none;

        @media (min-width: $large) {
            display: flex;
            position: relative;
            bottom: 0px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 56px;
        }
        
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .skills {

        .label_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 8px;
        }

        p {
            width: fit-content;
            padding: 3px 10px;
            white-space: nowrap;

            background-color: $mix-mode-1;
            border-radius: 7px;

            @include fontParagraph2;
            text-decoration: none;
            color: $text-color-1;
            font-weight: 400;
            text-transform: capitalize;

            @include fontParagraph2;
            text-decoration: none;
            color: $text-color-1;
            font-weight: 400;
            text-transform: capitalize;

            @media (min-width: $x-large) {
                font-size: rem(22px);
            }

        }
    }

    .label_container {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            background: $primary-color;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            &:hover {
                background: #528FFA;
                transition: 0.3s;
            }
        }

        .linkedin {
            width: 40px;
            height: 39px;

            @media (min-width: $x-large) {
                width: 48px;
                height: 47px;
            }

            img {
                width: 20px;

                @media (min-width: $x-large) {
                    width: 28px;
                }
            }
        }

        .behance {
            width: 40px;
            height: 39px;

            @media (min-width: $x-large) {
                width: 48px;
                height: 47px;
            }

            img {
                width: 24.24px;
                height: 15.99px;

                @media (min-width: $x-large) {
                    width: 24.24+8px;
                    height: 15.99+8px;
                }
            }
        }

        .email {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 12px;
            gap: 8px;
            height: 39px;

            border: 1.6px solid $neutral-1;
            background-color: transparent;
            border-radius: 8px;
        
            @include fontMain;
            font-weight: 550;

            @media (min-width: $x-large) {
                font-size: rem(20px);
                height: 47px;
            }
        }

    }
}

.mobile_cta {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    gap: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    bottom: 24px;

    @media (min-width: $large) {
        display: none;
    }


    a {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        width: 50%;

        background: $primary-color;
        box-shadow: 0px 4px 24px $secondary-color;

        border-radius: 8px;

        @include fontMain;
        font-weight: 550;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
    }
}