$text-color-1: #EDEDF2;
$text-color-2: #1C1E2A;
$text-color-footer: #B2B2BA;
$text-color-detail: #B2B2BA;


$primary-color: #3E74F7;
$secondary-color: #1C1E2A;
$footer-color: #292A36;
$accent-color-1: #F09CF9;
$accent-color-2: #845AFF;
$accent-color-3: #9AF8AA;
$accent-color-4: #73F2ED;
$accent-color-5: #CF2A16;
$neutral-1: #EDEDF2;
$neutral-2: #B2B2BA;

$mix-mode-1: #353951;
$mix-mode-2: #2D2C3F;
$mix-mode-3: #322C3F;
$mix-mode-4: #293437;
$mix-mode-5: #332E32;
$mix-mode-6: #272F3F;
$mix-mode-7: #322F32;

$chip-text-2: #C8A7FF;
$chip-text-3: #F7ACFF;
$chip-text-4: #9AF8AA;
$chip-text-5: #FFBF7D;
$chip-text-6: #8CCDFF;
$chip-text-7: #ECC06A;