footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: $footer-color;

    @media (min-width: $x-large) {
        padding-left: 80px;
        padding-right: 80px;
    }

    nav {

        display: none;

    }

    a {
        display: flex;
        
    }

    p {
        @include fontFooter;
        
    }

}