footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: $footer-color;

    nav {

        display: none;

    }

    a {
        display: flex;
        
    }

    p {
        @include fontFooter;
        
    }

}