.grid-project {
    padding-top: 0px;
    display: flex;
    flex-direction: column;

    @media (min-width: $large) {
        flex-direction: row;
        padding-top: 84px;
        gap: 40px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 120px;
    }

    @media (min-width: $x-large) {
        flex-direction: row;
        gap: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }

    &>div {
        display: flex;
        flex-direction: column;

        @media (min-width: $medium) {
            align-items: center;
            padding-top: 84px;
        }

        @media (min-width: $large) {
            padding-top: 0px;
        }

        @media (min-width: $x-large) {
            width: 50%;
        }

        img {
            object-fit: cover;
            aspect-ratio: 16 / 12;

            @media (min-width: $medium) {
                margin: 0px 24px;
                border-radius: 17px;
                outline: 1.2px solid rgba(255, 255, 255, 0.3);
                outline-offset: -1.2px;
                box-shadow: 0px 3px 20px #1C1E2A;
                height: 380px;
            }

            @media (min-width: $large) {
                margin: 0px;
                outline: 2px solid rgba(255, 255, 255, 0.3);
                outline-offset: -2px;
                box-shadow: 0px 3px 20px #1C1E2A;
            }

            @media (min-width: $x-large) {
                align-self: stretch;
                width: 100%;
                height: auto;
            }

        }

        .cta {
            display: none;

            @media (min-width: $large) {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                position: relative;
                bottom: 36px;
                right: 12px;

                a {
                    box-sizing: border-box;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 10px 12px;
                    width: fit-content;

                    background: $primary-color;
                    box-shadow: 0px 2px 9px rgba(28, 30, 42, 0.36);

                    border-radius: 8px;

                    @include fontMain;
                    font-weight: 550;
                    font-size: rem(20px);
                    line-height: 140%;
                    letter-spacing: -0.02em;

                    white-space: nowrap;

                    &:hover {
                        background: #528FFA;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    article {
        padding: 24px 24px 112px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            @include fontMain;
            @include fontHeading3;

            @media (min-width: $x-large) {
                font-size: rem(36px);
            }
        }

        h2 {
            @include fontMain;
            @include fontHeading5;
            font-weight: 450;

            @media (min-width: $x-large) {
                font-size: rem(22px);
            }
        }

        p {
            @media (min-width: $x-large) {
                width: 90%;
            }
        }

        @media (min-width: $large) {
            padding: 0px;
        }

        @media (min-width: $x-large) {
            width: 50%;
        }

    }

    &~footer {
        display: none;

        @media (min-width: $large) {
            display: flex;
            width: 100%;
            box-sizing: border-box;
        }

    }

    .label_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;

        p {
            width: fit-content;
            padding: 3px 10px;
            white-space: nowrap;

            background-color: $mix-mode-1;
            border-radius: 7px;

            @include fontParagraph2;
            text-decoration: none;
            color: $text-color-1;
            font-weight: 400;
            text-transform: capitalize;

            @media (min-width: $x-large) {
                font-size: rem(22px);
            }

        }

        .label_amote {
            background-color: $mix-mode-5;
            color: $chip-text-5;
        }

        .label_desterro {
            background-color: $mix-mode-7;
            color: $chip-text-7;
        }

        .label_faculty {
            background-color: $mix-mode-3;
            color: $chip-text-3;
        }

        .label_farfetch {
            background-color: $mix-mode-2;
            color: $chip-text-2;
        }

        .label_inferno {
            background-color: $mix-mode-6;
            color: $chip-text-6;
        }

        .label_slotdev {
            background-color: $mix-mode-4;
            color: $chip-text-4;
        }

    }

}

#share_cta {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    gap: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    bottom: 24px;

    @media (min-width: $large) {
        display: none;
    }


    a {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 12px;
        width: 100%;

        background: $primary-color;
        box-shadow: 0px 4px 28px $secondary-color;

        border-radius: 8px;

        @include fontMain;
        font-weight: 550;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
    }
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .label_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
}

.team {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: $large) {
        gap: 16px;
    }
}